

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #fef0d3;  
    padding: 0 12%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

a {
    text-decoration: none;
}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: #81522e;
}

.menu a {
    color: #333;
}

.menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center; 
}

.menu a:hover {
    color: #81522e;
} 

.btn {
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #81522e;
    color: #fff;
    transform: 0.5;
}

.btn:hover {
    background-color: #af6d3f;
}

.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
}

.home h4 {
    font-family: "Monsieur La Doulaise", sans-serif;
    font-size: 72px ;
    color: #af6d3f;
}

.home h1 {
    font-size: 72px ;
    color: #af6d3f;
    line-height: 72px;

}

.images {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.images img {
    width: 20%;
   /*height: 350px;*/
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s;
}

.images img:hover {
    width: 30%;
    cursor: pointer;
    filter: contrast(1.1);
}

