

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
} 

body {
    height: 100vh;
    background-color: #fef0d3;  
    padding: 0 12%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

a {
    text-decoration: none;
}

/* Design */
.logo {
    font-weight: bold;
    font-size: 25px;
    color: #a46534;
}

/* Index the main section */
.menu {
    list-style: none;
    justify-content: center;
    display: flex;
}

.menu li {
    position: relative;
} 

.menu li a {
    display: block;
    color: black; 
    text-decoration: none;
    transition: 0.3s;
    padding: 18px 25px;
}

.menu li a:hover {
    background: #ffc573;
    border-radius: 6px;
}


.submenu {
    position: absolute;
    top: 100%;
    left: 0;
   /* background: #fef0d3; */
    background: #f0d49d;
    list-style: none;
    min-width: 180px;
    display: none;
    border-radius: 6px;
   
}

.submenu a{
    padding: 12px 15px;
}

.dropdown:hover .submenu {
    display: block;
    animation: fadeIn 0.3s ease;
}

/* btn of the office */
.btn {
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #af6d3f;
    color: #fff;
    transform: 0.5;
}

.btn:hover {
    background-color:#bf8a63;;
}

/* image */
.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0; 

}

.home h4 {
    font-family: "Monsieur La Doulaise", sans-serif;
    font-size: 72px ;
    color: #af6d3f;
}

.home h1 {
    font-size: 72px ;
    color: #af6d3f;
    line-height: 72px;
}

.home h2 {
 /*   padding: 32px; */
    font-size: 32px;
    color: #af6d3f;
    padding: 20px; 
}

.maps {
    display: flex;
    align-items: center;
    text-align: center;
   /* flex-direction: column; */
    flex-direction: top;   
 /*  margin: 20px 0; */
}

/* Text message */
.images {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   /* gap: 20px; */
    gap: 5px; 
    /* border-radius: 6px; */

}

.images img {
    width: 20%; 
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s;
}

.images img:hover {
   /*  width: 20%; */
    width: 30%; 
    cursor: pointer;
    filter: contrast(1.1);
} 
/* */

.wood {
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
  /*  margin: 20px 0; */
    margin: 40px 0;
}

.places {
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
  /*  margin: 20px 0; */
    margin: 40px 0;
    
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

